<!DOCTYPE html>
<html>
<head>
	<title>tourist</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/tourist.css">
	<link rel="stylesheet" type="text/css" href="/<link rel="stylesheet" type="text/css" href="/./css/tourist.css">">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="container">

	<div class="topnav bg-secondary">
    <input type="text" placeholder="Search..">
    <button class="btn btn-success">search</button>
	<i class="fa fa-bell ml-3" style="font-size:40px;"></i>
	<button class="btn btn-success ml-2"><a href="log.html">logout</a></button>
	
    </div>

    <div class="cover">
    	<h2 class="display-2">To travel is to live..</h2>
    	
    </div>

    <div id="div2">
		
		<div id="div21">
			
		</div>
		<div id="div22">
			
		</div>
		<div id="div23">
			
		</div>
	</div>
	
	<div id="div3">
		
		<div id="div31">
			
		</div>
		<div id="div32">
			
		</div>
		<div id="div33">
			
		</div>
	</div>

	<div id="div4">
		
		<div id="div41">
			
		</div>
		<div id="div42">
			
		</div>
		<div id="div43">
			
		</div>
	</div>

		<div id="div5">
		
		<div id="div51">
			
		</div>
		<div id="div52">
			
		</div>
		<div id="div53">
			
		</div>
	</div>
  
    <div class="selall">

    <div class="sel">
    <select class="icons bg-success">
      <option value="">Choose your option</option>
      <option value="" data-icon="/images/sy1.jpg">place 1</option>
      <option value="" data-icon="/images/sy2.jpg">place 2</option>
      <option value="" data-icon="/images/sy3.jpg">place 3</option>

      <option value="" data-icon="/images/co1.jpg">place 4</option>
      <option value="" data-icon="/images/co2.jpg">place 5</option>
      <option value="" data-icon="/images/sa1.jpg">place 6</option>
    </select>

  </div>
  <div class="re">
  	<button class="bg-success">remove from package select </button>
  </div>
  <div class="date">
  	<input class="bg-success" type="date">
  </div>
  <br>
 
  <div class="seldsl">
      <select class="icons bg-success">
      <option value="">select destination location</option>
      <option value="" data-icon="/images/sy1.jpg">lalakhal</option>
      <option value="" data-icon="/images/sy2.jpg">laboni sea beach</option>
      <option value="" data-icon="/images/sy3.jpg">Jaflong</option>

      <option value="" data-icon="/images/co1.jpg">Cox's Bazar</option>
      <option value="" data-icon="/images/co2.jpg">Sudorban</option>
      <option value="" data-icon="/images/sa1.jpg">Sajek</option>
      </select>

   </div>

       <div class="selpic">
    <select class="icons bg-success">
      <option value="">select picup point</option>
      <option value="" data-icon="/images/sy1.jpg">Uttora</option>
      <option value="" data-icon="/images/sy2.jpg">Malibag</option>
      <option value="" data-icon="/images/sy3.jpg">Notun Bazar</option>

      <option value="" data-icon="images/co1.jpg">Saydabad</option>
      <option value="" data-icon="images/co2.jpg">Mohakali</option>
      <option value="" data-icon="images/sa1.jpg">Bashundara</option>
    </select>
   </div>

    <br>

   <div class="nxt">
       <a href="/login"><button class="btn btn-success">Login</button></a>
   </div>  

</div>

   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
</body>
</html>