<!DOCTYPE html>
<html>
<head>
	<title>welcome to <%=user.username%></title>
</head>
<body>
<center>
	<a href="memberHome/profileUpdate">Update Profile</a> || <a href="memberHome/allPackage">All Package</a> || <a href="memberHome/search"> Search Package</a> || <a href="memberHome/bookPackage">Book Package </a> ||  <a href="memberHome/payment">view Payment</a>||<a href="/logout">logout</a> <hr>
	<table>
		<tr>
			<td>Name: </td>
			<td><%=user.name%></td>
		</tr>
		<tr>
			<td>Type: </td>
			<td><%=user.type%></td>
		</tr>
	</table>
</center>

</body>
</html>